.hand {
  position: fixed;
  height: 200px;
  transform-origin: center;

  --hiddenLenght: 50px;
}
.wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 42px;
  width: fit-content;
  margin: auto;
}

#playerBlueHand {
  width: 100vw;
  left: 0;
  bottom: calc(var(--hiddenLenght) * -1);
}
#playerRedHand {
  width: 100vh;
  transform: rotate(270deg);
  top: calc(50vh - 100px);
  right: calc(-50vh + 100px + calc(var(--hiddenLenght) * -1));
}
#playerGreenHand {
  width: 100vw;
  transform: rotate(180deg);
  left: 0;
  top: calc(var(--hiddenLenght) * -1);
}
#playerYellowHand {
  width: 100vh;
  transform: rotate(90deg);
  top: calc(50vh - 100px);
  left: calc(-50vh + 100px + calc(var(--hiddenLenght) * -1));
}
