.card {
  width: 140px;
  aspect-ratio: 1 / 1.39;
  transition: transform 300ms;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  cursor: pointer;
  position: relative;
  border-radius: 12px;

  -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
}

.card .card_suit_color_1 {
  color: var(--card-black);
}

.card .card_suit_color_2 {
  color: var(--card-red);
}

.card.is-flipped {
  transform: rotateY(0deg);
}
.card.is-selected {
  transform: rotateY(180deg) translateY(-30px);
}
.card.is-flipped.is-selected {
  transform: rotateY(0deg) translateY(-30px);
}
/* .card:hover {
  transform: translateY(-50px) rotateY(180deg);
}
.card.is-flipped:hover {
  transform: translateY(-50px) rotateY(0deg);
} */

.card_front_face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-image: url("https://www.transparenttextures.com/patterns/graphcoders-lil-fiber.png");
  background-color: #fff;
  display: grid;
  grid-gap: 6px;
  padding: 6px;
  box-sizing: border-box;
  grid-template-columns: 33px 1fr 33px;
  grid-template-rows: 1fr;
}
.card_front_face > .info {
  font-weight: 900;
  font-size: 24px;
  font-family: Righteous;
  text-align: center;
  display: grid;
  grid-auto-flow: row;
  align-items: start;
  grid-auto-rows: auto;
  align-content: start;
  justify-items: center;
}
.card_front_face > .info.jolly {
  word-break: break-all;
  line-height: 24px;
}
.card_front_face > .info:nth-child(3) {
  transform: rotate(180deg);
}
.card_front_face > .figure {
  display: grid;
  align-items: center;
}
.card_front_face > .figure > div {
  height: 55%;
  border: 4px solid var(--card-gold);
}
