#region-roulette {
  z-index: 2;
  display: grid;
  gap: 30px;
  justify-self: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 450px;
  margin: 2rem;
}

#region-roulette .choosen-region {
  display: grid;
  gap: 30px;
}

#region-roulette .choosen-region {
  display: grid;
  gap: 0px;
  grid-auto-flow: row;
}

#region-roulette .choosen-region span {
  margin-bottom: 15px;
  font-size: 3rem;
  font-weight: 500;
}

#region-roulette button {
  margin-top: 20px;
}
