.diamond,
.spade,
.heart,
.club {
  width: 24px;
  height: 24px;
  position: relative;
  transform: rotate(45deg);
}

.diamond .square {
  background-color: var(--card-red);
  position: absolute;
  width: 16px;
  height: 16px;
  top: 4px;
  left: 4px;
}

.spade .square,
.spade .circle1,
.spade .circle2,
.spade .circle3,
.club .square,
.club .circle1,
.club .circle2,
.club .circle3 {
  background-color: var(--card-black);
  position: absolute;
}
.spade .square,
.club .square {
  width: 12px;
  height: 12px;
  top: 4px;
  left: 4px;
}
.spade .circle1,
.spade .circle2,
.spade .circle3,
.club .circle1,
.club .circle2,
.club .circle3 {
  width: 12px;
  height: 12px;
  border-radius: 6px 6px;
}
.spade .circle1,
.club .circle1 {
  top: 4px;
  left: 10px;
}
.spade .circle2,
.club .circle2 {
  top: 10px;
  left: 4px;
}
.spade .circle3,
.club .circle3 {
  top: 2px;
  left: 2px;
}
.spade .tail,
.club .tail {
  position: absolute;
  width: 0;
  height: 0;
  top: 17.5px;
  left: 17.5px;
  border-top: 5px solid var(--card-black);
  border-right: 5px solid transparent;
}
.heart .square,
.heart .circle1,
.heart .circle2 {
  background-color: var(--card-red);
  position: absolute;
}
.heart .square {
  width: 12px;
  height: 12px;
  top: 7px;
  left: 7px;
}
.heart .circle1,
.heart .circle2 {
  width: 12px;
  height: 12px;
  border-radius: 6px 6px;
}
.heart .circle1 {
  top: 1px;
  left: 7px;
}
.heart .circle2 {
  top: 7px;
  left: 1px;
}

.joker {
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: 50%;
  border: 2px solid var(--card-gold);
  display: grid;
  place-items: center;
}
.joker .star {
  width: 24px;
  height: 24px;
}
.joker .star path {
  fill: var(--card-gold);
  transform: translate(-1.5%, -0.8%) scale(1.1);
}
