* {
  cursor: none;
}
*:hover {
  cursor: none;
}

#cursor {
  position: fixed;
  z-index: 99;
  pointer-events: none;
}

.cursor {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  border-top-left-radius: 1px;

  background-color: #f9fafb;
  border: 1px solid #b0bec5;

  box-shadow: 0 16px 19px rgb(166 99 99 / 15%);

  opacity: 1;
  transform: scale(1);
  transform-origin: 0 0;
  transition: opacity 0.2s, transform 0.2s;
}

#cursor.hidden .cursor {
  opacity: 0;
  transform: scale(0);
}
