* {
  cursor: none;
}
*:hover {
  cursor: none;
}

#cursor {
  position: fixed;
  z-index: 99;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  border-top-left-radius: 1px;

  background-color: #f9fafb;
  border: 1px solid #b0bec5;

  transition: transform 150ms ease-out; /*cubic-bezier(0.4, 0, 0.2, 1);*/

  -webkit-box-shadow: 0 16px 24px 2px rgb(96 125 139 / 14%),
    0 6px 30px 5px rgb(96 125 139 / 12%), 0 8px 10px -7px rgb(96 125 139 / 20%);
  box-shadow: 0 16px 24px 2px rgb(96 125 139 / 14%),
    0 6px 30px 5px rgb(96 125 139 / 12%), 0 8px 10px -7px rgb(96 125 139 / 20%);
}

#cursor.hidden {
  animation: cursor-disappear forwards 0.5s linear;
  transform: scale(0);
}
